.Question {
  margin-top: 20px;
}

.QuestionHeader {
  text-align: center;
}

.QuestionForm {
  margin-left: 5%;
}

.QuestionResults {
  text-justify: initial;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.btn {
  width: 100px;
  height: 35px;
  background: rgb(255, 255, 255);
  color: black;
  border: 1.5px solid rgb(53, 52, 52);
  border-radius: 5px;
  font-family: "STIX Two Math", serif;
  font-size: 20px;
  text-align: center;
  transition: all 600ms;
  line-height: 0;
}

.btn:hover span {
  display: none;
}

.btn.next-btn:hover {
  width: 100px;
  height: 35px;
  background: url(./right-arrow-icon.png) no-repeat;
  background-position: center;
  background-size: 30px 20px;
}

.btn.previous-btn:hover {
  width: 100px;
  height: 35px;
  background: url(./left-arrow-icon.png) no-repeat;
  background-position: center;
  background-size: 30px 20px;
}

/*KUN MOBIL*/
@media screen and (max-width: 479px) and (min-width: 0) {
  .hide-mobile {
    display: none;
  }

  .progressIndex {
    text-align: center;
  }

  .decrementIndex {
    text-align: left;
  }

  .incrementIndex {
    text-align: right;
  }
}

/*KUN DESKTOP*/
@media screen and (min-width: 480px) {
  .hide-desktop {
    display: none;
  }
  .progressIndex {
    text-align: center;
  }

  .decrementIndex {
    text-align: right;
  }

  .incrementIndex {
    text-align: left;
  }
}
